/* Story Section */
.story{
    background: url(/images/dot-dot-wave-shape.svg) no-repeat left bottom;
}

/* .story h2{
    color: var(--bs-dark-light) !important;
} */
.story .animate-element{
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 100%;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: 3;
}
.shape-service .color-shape-2 {
    right: 38rem;
    bottom: -45rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  
}
@keyframes example {
    0%   { left:0px; top:0px; !important}
    25%   {left:200px; top:0px; !important}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
  }
.shape-service .color-shape-3 {
    top: 39rem;
    left: 37rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    transition: width 2s;
  
}
.position-absolute {
    position: absolute !important;
}
.z-5{
    z-index: 5;
}
.layer{
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    transform: translate3d(-2.68603px, 1.32661px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;

}


.story-grid{
    width: 100%;
height: 720px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto;
}

.story-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 1.5rem;
        text-align: center;
        width: 100%;
}

@media (min-width: 1200px){


.display-5 {
    font-size: 3rem !important;
}
}
/* End Section  */

/* Start values section */
.values{
    background-color: #F8F9FA;
}

.img-overlay-list{
    left: 0;
    top: 55%;
    z-index: 1;
    grid-row-gap: 17px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.img-overlay-list li{
    margin: 12px 0;
}

.img-overlay-list li i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 12px;
}


/* End Section */

/* Start Team Section */
.team-img {
    position: relative;
    overflow: hidden;
}
.team-single-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.team-single-wrap:hover .team-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0 0 1.25rem rgb(31 45 61 / 5%);
    box-shadow: 0 0 1.25rem rgb(31 45 61 / 5%);
}

.team-single-wrap  i{
    visibility: hidden!important;
}
.team-single-wrap:hover  i{
    visibility: visible!important;
}

.team-social-list li i{
   color: var(--bs-secondary) !important;
  font-size: 1.3rem;
  padding: .5rem 0;
}
.team-social-list li i:hover{
    color: var(--bs-primary) !important;  
 }

.team-single-wrap{
position: relative;
    display: block;
    /* overflow: hidden; */
    -webkit-transition: all 0.3s ease;
    /* transition: all 0.3s ease; */
}
.team-social-list {
    position: absolute;
    top: 8%;
    right: 8%;
}
.team-info h6{
    font-weight: bold;
}
/* ********************************************** */
.location{
    background-color: #F8F9FA;
}
.office-address {
    height: 360px;
    position: relative;
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.office-address:hover{
    transform: scale(1.1);
}

.office-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.45)));
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.45));
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

office-overlay {
    opacity: 0;
    background-color: rgba(11, 22, 63, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: -1;
}

.office-content .office-info address{
    color: #fff;
    visibility: hidden;
}

.office-content:hover .office-info  address {
    color: #fff;
    visibility: visible !important;
    transform: scale(1.1) ;
}